/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, header .title, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.6.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 11, ../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.6.0/stylesheets/toolkit/_kickstart.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 5, ../_sass/global/_base.scss */
body {
  font-family: 'Open Sans';
}

/* line 9, ../_sass/global/_base.scss */
::-moz-selection {
  background-color: #cd669a;
  color: white;
}
::selection {
  background-color: #cd669a;
  color: white;
}

/* line 14, ../_sass/global/_base.scss */
.post {
  width: 100%;
  padding-bottom: 6em;
}
/* line 18, ../_sass/global/_base.scss */
.post h1 {
  margin-top: .5em;
}

/* line 6, ../_sass/global/_extendables.scss */
.logo-image--header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

/* line 16, ../_sass/global/_extendables.scss */
.past-talks li .speakers, h2, p .focus, header .title .focus, .next-event .date, .next-event .speakers, header .title {
  font-weight: 600;
}

/* line 20, ../_sass/global/_extendables.scss */
aside, .next-event .date {
  font-style: italic;
}

/**
 * Hover image state for a button.
 */
/* line 5, ../_sass/partials/_link.scss */
.button--white--outline {
  text-decoration: none;
}

/* line 9, ../_sass/partials/_link.scss */
.button--white--outline {
  -webkit-transition: background 0.8s;
          transition: background 0.8s;
}
/* line 13, ../_sass/partials/_link.scss */
.button--white--outline:hover {
  background: #cd669a;
}

/* line 18, ../_sass/partials/_link.scss */
.button--white--outline {
  border-top: none;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

/* line 1, ../_sass/partials/_lists.scss */
.one-date, .secondary-sponsor-roll {
  list-style: initial;
  margin-left: 2em;
}

/* line 6, ../_sass/partials/_lists.scss */
.past-talks li {
  display: block;
  width: 100%;
  overflow: hidden;
  clear: both;
  margin: 1em 0;
  padding: 1em;
  background: #eee;
}
/* line 15, ../_sass/partials/_lists.scss */
.past-talks li h1 {
  margin: 0;
  font-size: 1.5em;
}
/* line 20, ../_sass/partials/_lists.scss */
.past-talks li .img-container {
  width: 330px;
  height: 240px;
  margin: 0 2em 0 0;
}
@media (max-width: 760px) {
  /* line 20, ../_sass/partials/_lists.scss */
  .past-talks li .img-container {
    width: 100%;
    margin-bottom: 1em;
  }
}

/* line 37, ../_sass/partials/_lists.scss */
.one-date {
  margin-bottom: 2em;
}

/* line 48, ../_sass/partials/_lists.scss */
.main-sponsor-roll img {
  max-width: 200px;
  vertical-align: middle;
}
/* line 52, ../_sass/partials/_lists.scss */
.main-sponsor-roll img:first-child {
  margin-right: 1.5em;
}
/* line 57, ../_sass/partials/_lists.scss */
.main-sponsor-roll li {
  display: inline-block;
}

/**
 * A container partial.
 */
/* line 5, ../_sass/partials/_container.scss */
.next-event, .intro--home article,
.container {
  max-width: 760px;
  margin: 0 auto;
}

/* line 11, ../_sass/partials/_container.scss */
.img-container {
  display: block;
  position: relative;
  overflow: hidden;
  float: left;
}
/* line 17, ../_sass/partials/_container.scss */
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/**
 * Font partials.
 */
/* line 5, ../_sass/partials/_fonts.scss */
body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 10, ../_sass/partials/_fonts.scss */
h1 {
  font-size: 2em;
  color: #0d223e;
  font-weight: 400;
  margin-bottom: 1em;
}

/* line 17, ../_sass/partials/_fonts.scss */
h2 {
  font-size: 1.5em;
  color: #0d223e;
  margin-bottom: 1em;
}

/* line 24, ../_sass/partials/_fonts.scss */
h3 {
  font-size: 1.2em;
}

/* line 28, ../_sass/partials/_fonts.scss */
p, header .title {
  line-height: 1.5;
}

/* line 36, ../_sass/partials/_fonts.scss */
a {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #cd669a;
}
/* line 40, ../_sass/partials/_fonts.scss */
a:hover {
  color: #e6b3cd;
}

/* line 45, ../_sass/partials/_fonts.scss */
aside {
  margin-bottom: 1em;
  color: white;
  background: #71cbce;
  display: inline-block;
  padding: .5em;
}

/**
 * Navigation partial.
 */
/* line 5, ../_sass/partials/_navigation.scss */
#navigation {
  float: right;
}
@media (max-width: 760px) {
  /* line 5, ../_sass/partials/_navigation.scss */
  #navigation {
    width: 100%;
    padding: .5em;
  }
}
/* line 13, ../_sass/partials/_navigation.scss */
#navigation .menubar-link {
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding: .5em .5em .2em;
  margin-right: .5em;
  color: currentColor;
  display: inline-block;
}
/* line 21, ../_sass/partials/_navigation.scss */
#navigation .menubar-link.active {
  border-bottom: 3px solid currentColor;
}
/* line 25, ../_sass/partials/_navigation.scss */
#navigation .menubar-link.active-trail {
  border-bottom: 3px solid currentColor;
  opacity: .5;
}
/* line 30, ../_sass/partials/_navigation.scss */
#navigation .menubar-link:hover {
  border-bottom: 3px solid currentColor;
  opacity: .5;
}

/**
 * Teaser display
 */
/* line 5, ../_sass/partials/_teaser.scss */
.teaser {
  margin: 0 auto;
}
@media (max-width: 760px) {
  /* line 5, ../_sass/partials/_teaser.scss */
  .teaser {
    clear: both;
  }
}

/**
 * Upcoming Event
 */
/* line 5, ../_sass/partials/_upcoming.scss */
.next-event {
  padding: 3em;
}
/* line 10, ../_sass/partials/_upcoming.scss */
.next-event h1 {
  margin-bottom: 0;
  font-size: 150%;
}
/* line 15, ../_sass/partials/_upcoming.scss */
.next-event .metadata {
  max-width: 500px;
  margin: -.5em auto 0;
}
/* line 20, ../_sass/partials/_upcoming.scss */
.next-event .date {
  font-size: 140%;
}
/* line 26, ../_sass/partials/_upcoming.scss */
.next-event .img-container {
  width: 300px;
  height: 230px;
  margin: 0 2em 4em 0;
}

/* line 1, ../_sass/partials/_intro.scss */
.intro--home {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), 50% url("../images/atxsass-meetup.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), 50% url("../images/atxsass-meetup.jpg");
  background-size: cover;
  padding: 6em 0;
}
/* line 6, ../_sass/partials/_intro.scss */
.intro--home article {
  border: 1px solid white;
  padding: 3em;
}
/* line 11, ../_sass/partials/_intro.scss */
.intro--home article p, .intro--home article header .title, header .intro--home article .title, .intro--home article h1, .intro--home article h2 {
  color: white;
}

/* line 1, ../_sass/partials/_images.scss */
.full-bleed {
  margin-top: 2em;
}

/* line 1, ../_sass/regions/_header.scss */
header {
  color: #71cbce;
  height: 2.3em;
  border-bottom: 1px solid #eee;
}
/* line 6, ../_sass/regions/_header.scss */
header .title {
  color: currentColor;
  float: left;
  margin: .4em 1em .3em;
}

/* line 15, ../_sass/regions/_header.scss */
.logo-image--header {
  background: url("../images/ATXSass-Logo.png") 100%;
  background-size: 100%;
  display: block;
}

/* line 21, ../_sass/regions/_header.scss */
.logo-image--header {
  width: 140px;
  height: 100px;
  top: 2.8rem;
}

/* line 29, ../_sass/regions/_header.scss */
.header--home {
  color: white;
  height: 0;
}
/* line 33, ../_sass/regions/_header.scss */
.header--home a {
  color: #71cbce;
}

/* line 1, ../_sass/regions/_footer.scss */
footer {
  font-size: 80%;
  text-align: center;
  background: #eee;
  padding: 1em;
  clear: both;
}
