@import "compass/reset";
@import "compass/css3/transition";

// colors
$color-1: rgba(104,128,178,.4);
$color-2: rgba(138,114,176,0);
$color-3: rgba(157,173,219,.25);
$color-4: rgba(142,60,187,.4);
$color-5: #c69;
$color-6: #000925;
$color-7: #71cbce;


body {
	font-family: 'Open Sans';
	height: 1200px;
	overflow: hidden;
	background: $color-5;
	background: -moz-radial-gradient(0% 100%, ellipse cover, $color-1 10%,$color-2  40%),-moz-linear-gradient(top, $color-3 0%, $color-4 100%), -moz-linear-gradient(-45deg, $color-5 0%, $color-6 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, $color-1 10%,$color-2  40%), -webkit-linear-gradient(top, $color-3 0%,$color-4 100%), -webkit-linear-gradient(-45deg, $color-5 0%,$color-6 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, $color-1 10%,$color-2  40%), -o-linear-gradient(top, $color-3 0%,$color-4 100%), -o-linear-gradient(-45deg, $color-5 0%,$color-6 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, $color-1 10%,$color-2  40%), -ms-linear-gradient(top, $color-3 0%,$color-4 100%), -ms-linear-gradient(-45deg, $color-5 0%,$color-6 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, $color-1 10%,$color-2  40%), linear-gradient(to bottom, $color-3 0%,$color-4 100%), linear-gradient(135deg, $color-5 0%,$color-6 100%);
	}

h1 { 
	font-size: 2em;
	color: white;
	text-align: center;
	font-weight: 400;
	margin-bottom: 1em;
}

.logo-image {
	background: url('../img/ATXSass-Logo.png') 100%;
	width: 400px;
	height: 260px;
	display: block;
	position: relative;
	margin: 60px auto 20px;
	background-size: 100%;
}

.donation-form {
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

.contrib-btn {
	width: 100%;
	@include transition-duration(0.8s);

	&:hover {
		background: $color-7;
	}
}