//////////////////////////////
// Base variables and settings.
//////////////////////////////

body {
	font-family: 'Open Sans';
}

::selection {
	background-color: $color--main;
	color: $color--text--invert;
}

.post {
	width: 100%;
	padding-bottom: 6em;

	h1 {
		margin-top: .5em;
	}
}
