<header role="banner" id="header">
  <h1 class="title"> {{ site.title }} </h1>
  <nav role="navigation" id="navigation">
    <div class="menubar" role="menubar">
      {% for nav in site.data.navigation %}
        {% assign current = nil %}
        {% assign url = page.url|remove:'index.html' %}
        {% if url == nav.url %}
          {% assign current = 'active' %}
        {% elsif page.dir contains nav.url and nav.url != '/' %}
          {% assign current = 'active-trail' %}
        {% endif %}
        <a class="menubar-link {{current}}" role="menuitem" href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
      {% endfor %}
    </div>
  </nav>
</header>
