/**
 * Font partials.
 */

h1 {
  font-size: 2em;
  color: $color--text;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  color: $color--text;
  font-weight: 400;
  margin-bottom: 1em;
}

p {
	line-height: 1.5;
}