/**
 * Hover image state for a button.
 */

%button {
	text-decoration: none;
}

%hover-button {
	@extend %button;
	transition: background 0.8s;

	&:hover {
		background: $color--main;
	}
}

.button--white--outline {
	@extend %hover-button;
	$border: 2px solid white;
	border: {
		top: none;
		left: $border;
		right: $border;
		bottom: $border;
	}
}
