%gimme-bullets {
	list-style: initial;
	margin-left: 2em;
}

.past-talks li {
	display: block;
	width: 100%;
	overflow: hidden;
	clear: both;
	margin: 1em 0;
	padding: 1em;
	background: $bg-color1;

	h1 {
		margin: 0;
		font-size: 1.5em;
	}

	.img-container {
		width: 330px;
		height: 240px;
		margin: 0 2em 0 0;

		@include breakpoint($layout-break) {
			width: 100%;
			margin-bottom: 1em;
		}
	}

	.speakers {
		@extend %bold;
	}
}

//resources
.one-date {
	margin-bottom: 2em;
	@extend %gimme-bullets;
}

//sponsors
.secondary-sponsor-roll {
	@extend %gimme-bullets;
}

.main-sponsor-roll {
  img {
    max-width: 200px;
  }

  li {
    display: inline-block;
  }
}
