%gimme-bullets {
	list-style: initial;
	margin-left: 2em;
}

.past-talks li {
	display: block;
	width: 100%;
	overflow: hidden;

	img {
		max-width: 200px;
		max-height: 200px;
		float: left;
		margin: 2em;
	}
}

//resources
.one-date {
	margin-bottom: 2em;
	@extend %gimme-bullets;
}

//sponsors
.sponsor-roll {
	@extend %gimme-bullets;
}