/**
 * Navigation partial.
 */

#navigation {
  float: right;

  .menubar-link {
    text-decoration: none;
    transition: border-bottom .2s;
    padding: .5em .3em;
    color: $color--text--invert;
    margin-right: .5em;
    display: inline-block;

    @include breakpoint(450px) {
      padding: .4em 1em;
      margin-right: 1em;
    }

    &.active {
      border-bottom: 2px solid rgba($color--main, .5);

    }

    &.active-trail {
      border-bottom: 2px solid rgba($color--main, .3);
    }

    &:hover { border-bottom: 2px solid $color--main; }
  }
}