/**
 * Navigation partial.
 */

#navigation {
  max-width: 580px;
  // margin: 2em auto 3em;
  display: block;
  overflow: hidden;
  float: right;

  .menubar-link {
    text-decoration: none;
    transition: border-bottom .2s;
    padding: .5em .3em;
    color: $color--text--invert;
    margin-right: .5em;
    display: inline-block;

    @include breakpoint(450px) {
      padding: .4em 1em;
      margin-right: 1em;
    }

    &.active {
      border-bottom: 2px solid rgba($color--accent, .5);

    }

    &.active-trail {
      border-bottom: 2px solid rgba($color--accent, .3);
    }

    &:hover { border-bottom: 2px solid $color--accent; }

    // &:nth-child(1),
    // &:nth-child(2) {
    //   float: left;
    // }

    // &:nth-child(3),
    // &:nth-child(4) {
    //   float: right;
    // }

  }

}