/**
 * Navigation partial.
 */

#navigation {
  margin-top: .2em;
  margin-left: .2em;

  @include breakpoint(450px) {
    margin-left: 2em;
    margin-top: .4em;
  }

  .menubar-link {
    @extend %hover-button;
    padding: .25em .4em;
    color: white;
    $border: 2px solid white;
    border: {
      top: none;
      left: $border;
      right: $border;
      bottom: $border;
    }
    text-decoration: none;
    margin-right: .5em;

    @include breakpoint(450px) {
      padding: .4em 1em;
      margin-right: 1em;
    }
  }


}
