/**
 * Upcoming Event
 */

.next-event {
	@extend %container;
	//ß\@extend %center-text;
	padding: $internal-padding;

	h1 {
		margin-bottom: 0;
		font-size: 150%;
	}

	.metadata {
		max-width: 500px;
		margin: -.5em auto 0;
	}

	.date {
		@extend %bold;
		@extend %italic;
		font-size: 140%;
	}

	.img-container {
		width: 300px;
		height: 230px;
		margin: 0 2em 4em 0;
	}

	.speakers {
		@extend %bold;
	}
}