/////////////////////////////////////////////////
// Welcome to the primary Sass file.
//
// You can put all of your partials here.
/////////////////////////////////////////////////

@import 'base/base';
@import 'partials/link';


body {
	font-family: 'Open Sans';
	height: 1200px;
	overflow: hidden;
	background: $color-5;
  background: radial-gradient(0% 100%, ellipse cover, $color-1 10%,$color-2  40%), linear-gradient(to bottom, $color-3 0%,$color-4 100%), linear-gradient(135deg, $color-5 0%,$color-6 100%);
}


@import 'partials/fonts';


.logo-image {
	background: url('../images/ATXSass-Logo.png') 100%;
	width: 100%;
	max-width: 400px;
	height: 260px;
	display: block;
	position: relative;
	background-size: 100%;
	margin: 20px auto 15px;

	@include breakpoint(450px) {
		margin: 60px auto 20px;
	}
}

.donation-form {
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

.contrib-btn {
	@extend %hover-button;
	width: 100%;
}

@import 'partials/navigation';
