// colors
//sass colors
$hopbush: #c69;
$atx-hopbush: #cd669a;
$cyan: #71cbce;
$navy: #0d223e;

//chosen colors
$bg-color1: #eee;
$bg-color2: white;
$color--main: $atx-hopbush;
$color--secondary: $cyan;
$color--text: $navy;
$color--text--invert: white;


//sizes
$internal-padding: 3em;
$container-width: 760px;

//breakpoint
$layout-break: max-width $container-width