// colors
//sass colors
$hopbush: #c69;
$atx-hopbush: #cd669a;
$cyan: #71cbce;
$navy: #0d223e;

//chosen colors
$bg-color1: #eee;
$bg-color2: white;
$color--main: $hopbush;
$color--text: $navy;
$color--accent: $atx-hopbush;
$color--text--invert: white;
