---
layout: default
title: Previous Talks
id: talks
permalink: /past-meetups/
---

<ul class="past-talks">
	{% for talk in site.talks reversed %}
		<li>
			{% if talk.thumbnail-image %}
			<div class="img-container">
				<img src="../images/{{ talk.thumbnail-image }}" alt="{{ talk.title image}}" class="talk-thumb">
			</div>
				{% else %}
					<div class="img-container">
						<img src="../images/thumb-placeholder.jpg" alt="Placeholder image for {{talk.title}}">
					</div>
			{%endif%}
		{% include teaser.html post=talk %}
		</li>
	{% endfor %}
</ul>