---
layout: page
title: Previous talks
id: talks
permalink: /past-meetups/
---

<ul class="past-talks">
	{% for post in site.posts %}
		<li>
			{% if post.thumbnail-image %}
			<div class="img-container">
				<img src="../images/{{ post.thumbnail-image }}" alt="{{ post.title image}}" class="post-thumb">
			</div>
				{% else %}
					<div class="img-container">
						<img src="../images/thumb-placeholder.jpg" alt="Placeholder image for {{post.title}}">
					</div>
			{%endif%}
		{% include teaser.html post=post %}
		</li>
	{% endfor %}
</ul>