//////////////////////////////
// Base variables and settings.
//////////////////////////////

@import 'reset';

@import 'breakpoint';
@import 'singularitygs';
@import 'toolkit';
@import 'toolkit/kickstart';


* { 
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

::selection {
	background-color: $color--main;
	color: white;
}

.post {
	width: 100%;
	display: block;
	overflow: hidden;
	padding-bottom: 6em;

	h1 {
		margin-top: .5em;
	}
}