//////////////////////////////
// Base variables and settings.
//////////////////////////////

@import 'reset';

@import 'breakpoint';
// @import 'singularitygs';
@import 'toolkit';
@import 'toolkit/kickstart';


// colors
//sass colors
$hopbush: #c69;
$atx-hopbush: #cd669a;
$cyan: #71cbce;
$navy: #0d223e;

//chosen colors
$color--bg: gainsboro;
$color--text: $navy;
$color--accent: $atx-hopbush;

* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
	background-color: $color--bg;
}

%logo-image {
	background: url('../images/ATXSass-Logo.png') 100%;
	background-size: 100%;
	display: block;
}

%abs-center {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
}

.logo-image--header {
	@extend %logo-image;
	@extend %abs-center;
	width: 130px;
	height: 100px;
	top: 0;
}