//////////////////////////////
// Base variables and settings.
//////////////////////////////

@import 'reset';

@import 'breakpoint';
@import 'singularitygs';
@import 'toolkit';
@import 'toolkit/kickstart';


* { 
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

::selection {
	background-color: $color--main;
	color: white;
}